{% extends 'layout.njk' %}

{% from "button/macro.njk" import govukButton %}
{% from "error-message/macro.njk" import govukErrorMessage %}
{% from "input/macro.njk" import govukInput %}
{% from "_breadcrumbs.njk" import breadcrumbs %}

{% block beforeContent %}

{{ breadcrumbs("Person Name")}}

{% endblock %}

{% block content %}

  <div class="govuk-body">
    <form method="POST" action="/claim/person-name">
      <h1 class="govuk-heading-xl">Create a person record</h1>
      <p class="govuk-body-l">What is your name?</p>
      {{ govukInput(model.firstName) }}
      {{ govukInput(model.lastName) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>

{% endblock %}
